/* OVERLAY */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 0, 20, 0.75);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  animation: fadeIn 0.3s ease-in-out;
}

/* MODAL BOX */
.modal-box {
  width: 90%;
  max-width: 420px;
  background: linear-gradient(145deg, #1a0b22, #2e0048);
  padding: 35px;
  border-radius: 22px;
  box-shadow: 0px 10px 30px rgba(180, 76, 255, 0.35);
  color: #e8d8ff;
  position: relative;
  animation: popup 0.35s ease;
}

/* TITLES */
.modal-small-title {
  font-size: 18px;
  color: #b44cff;
  margin-bottom: 5px;
  font-weight: 600;
}

.modal-title {
  font-size: 26px;
  font-weight: 800;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 10px;
}

.modal-desc {
  color: #cbb8f9;
  font-size: 15px;
  margin-bottom: 25px;
}

/* LABEL */
.modal-label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  color: #d9c2ff;
  font-weight: 600;
}

/* MOBILE INPUT ROW */
.mobile-input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.mobile-input-row select,
.mobile-input-row input {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #7a00cc;
  background: #120016;
  color: #e8d8ff;
  font-size: 16px;
  width: 100%;
  outline: none;
  transition: 0.25s;
}

.mobile-input-row select {
  width: 90px;
}

.mobile-input-row select:hover,
.mobile-input-row input:hover {
  border-color: #b44cff;
  box-shadow: 0px 0px 12px rgba(180, 76, 255, 0.3);
}


.modal-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ffb424, #ff9300);
  border: none;
  color: #21002d;
  font-size: 18px;
  font-weight: 700;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 15px;
}

.modal-btn:hover {
  background: linear-gradient(135deg, #ffd477, #ff9900);
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(255, 176, 0, 0.35);
}

.modal-cancel {
  width: 100%;
  background: transparent;
  border: 1px solid #b44cff;
  padding: 12px;
  border-radius: 35px;
  color: #e8d8ff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal-cancel:hover {
  background: #2e0048;
  box-shadow: 0px 0px 12px rgba(180, 76, 255, 0.35);
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popup {
  from {
    transform: scale(0.85) translateY(20px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .modal-box {
    padding: 25px;
    width: 92%;
  }

  .modal-title {
    font-size: 22px;
  }
}
